{
	"singleQuote": true,
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"printWidth": 110,
	"semi": true,
	"arrowParens": "always",
	"useTabs": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": false
}
